.atom-css {
  $textAlign: 'left', 'right', 'center', 'justify';
  @each $ta in $textAlign {
    .text-#{$ta} {
      text-align: #{$ta};
    }
  }

  $fontSize: '12', '14', '16', '18', '36';
  @each $fz in $fontSize {
    .text-fz-#{$fz} {
      font-size: #{$fz}px;
    }
  }

  $fontWeight: 'light', 'normal', 'blod';
  @each $fw in $fontWeight {
    .text-fw-#{$fw} {
      font-weight: $fw;
    }
  }

  $borderRadius: '6' 6px, 'full' 9999px;
  @each $key, $val in $borderRadius {
    .rounded-#{$key} {
      border-radius: $val;
    }
  }

  $cursor: 'pointer', 'not-allowed';
  @each $cur in $cursor {
    .cursor-#{$cur} {
      cursor: #{$cur};
    }
  }

  $display: 'block', 'inline-block', 'inline';
  @each $name in $display {
    .#{$name} {
      display: #{$name};
    }
  }

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
  }

  .inline-flex {
    display: inline-flex;
  }

  $direction: 'row' 'row', 'row-re' 'row-reverse', 'col' 'column',
    'col-re' 'column-reverse';
  @each $key, $val in $direction {
    .flex-#{$key} {
      flex-direction: #{$val};
    }
  }

  $wrap: 'nowrap', 'wrap', 'wrap-reverse';
  @each $key, $val in $wrap {
    .flex-#{$key} {
      flex-wrap: #{$val};
    }
  }

  $stretch: '1' '1 1 0%', 'auto' '1 1 auto', 'initial' '0 1 auto', 'none' 'none';
  @each $key, $val in $stretch {
    .flex-#{$key} {
      flex: #{$val};
    }
  }

  .flex-grow-0 {
    flex-grow: 0;
  }
  .flex-grow {
    flex-grow: 1;
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }

  .flex-shrink {
    flex-shrink: 1;
  }

  $position: 't' '-top' '', 'r' '-right' '', 'b' '-bottom' '', 'l' '-left' '',
    'x' '-left' '-right', 'y' '-top' '-bottom', '' '' '';
  $sizes: 0, 1, 2, 4, 8, 10, 12, 14, 16, 18, 20, 24, 28, 32,36, 48;
  $spaceTypes: 'p' 'padding', 'm' 'margin';
  @each $typeName, $typeKey in $spaceTypes {
    @each $size in $sizes {
      @each $name, $key1, $key2 in $position {
        .#{$typeName}#{$name}-#{$size} {
          #{$typeKey}#{$key1}: #{$size}px;
          @if $key2 != '' {
            #{$typeKey}#{$key2}: #{$size}px;
          }
        }
      }
    }
  }
}
