#app {
  display: flex;
  flex-direction: column;
}
.board {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  $animation-duration: 750ms;
  max-width: 90%;
  width: 100%;
  margin: 15px auto;
  .gap {
    flex-grow: 1;
  }
  .board-row {
    display: flex;
    min-height: 40px;
    max-height: 50px;
    flex-grow: 10;
    margin-bottom: 5px;
    margin-bottom: 2vh;
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  .current-row .board-cell {
    animation-delay: 0;
  }
  .board-cell {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
    padding: 2px 4px;
    color: var(--color-tone-1);
    border: 2px solid var(--color-tone-5);
    box-sizing: border-box;
    transition: background-color $animation-duration ease-in-out;

    &-hr {
      width: 1px;
      border-color: red;
    }
    &-muti span {
      font-size: 12px;
    }

    &.unconfirmed {
      border-color: var(--color-tone-3);
      animation: sacle 150ms ease-in-out;
    }

    &.correct {
      border-width: 0;
      animation: flip $animation-duration ease-in-out;
    }
    &.present {
      border-width: 0;
      animation: flip $animation-duration ease-in-out;
    }
    &.absent {
      border-width: 0;
      animation: flip $animation-duration ease-in-out;
    }

    &:nth-child(2n) {
      border-left-width: 1px;
      border-left-width: 0.5px;
      margin-right: 10px;
      flex-basis: 40px;
      flex-grow: 2;
      align-items: flex-start;
      transform-origin: left;
    }

    &:nth-child(2n + 1) {
      border-right-width: 1px;
      border-right-width: 0.5px;
      text-transform: capitalize;
      flex-basis: 25px;
      flex-grow: 1;
      transform-origin: right;

    }

    &:last-child {
      margin-right: 0;
    }
  }
  .shaking {
    animation: shaking 100ms linear 2;
  }

  @keyframes flip {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

  @keyframes shaking {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes sacle {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {

      transform: scale(1);
    }
  }
}
