.help {
  font-size: 16px;
  width: 100%;
  padding: 0 5%;
  height: 100%;
  color: #f1f1f1;
  max-height: 95%;
  overflow-y: auto;
  
  &-h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
  }
  &-hr {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.226);
    margin: 15px auto;
  }
  &-a {
    margin: 5px;
    color: inherit;
  }
  &-close{
    opacity: 0.5;
    cursor: pointer;
  }
  p {
    font-size: 14px;
  }
  .with-status{
    display: inline-block;
    padding: 0 3px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 16px;
  }
  &-links {
    margin-top: 10px;
    text-align: right;
    opacity: 0.6;
    p {
      font-size: 12px;
      margin: 10px;
    }
  }

  .board {
    margin: 0;
    max-width: 100%;
    .board-row {
      margin-bottom: 0;
    }
    .board-cell {
      color: #fff;
    }
  }
}
