.keyboard {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  .keyboard-row {
    display: flex;
    margin-bottom: 5px;
  }
  .key-button {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40px;
    margin: 0 3px;
    padding: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    &:active {
      opacity: 0.8;
    }
    &.default {
      background-color: var(--key-bg);
      color: var(--key-text-color);
    }
  }
  .transition {
    transition: all 0.3s ease-in-out;
  }
  .head {
    width: 100%;
    padding: 5px 3px;
    text-align: center;
    padding-right: 50%;
    box-sizing: border-box;
    align-self: flex-start;
    font-weight: 700;
  }

  .tail {
    width: 100%;
    padding: 3px 0;
    flex-grow: 1;
    font-size: 14px;
  }
  &.sheng .key-button:not(.empty-yun) {
    .head {
      opacity: 0.2;
    }
  }

  .key-half {
    flex-basis: 20px;
  }
  .one-and-a-half {
    flex-basis: 60px;
  }
  .func {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .uppercase {
    text-transform: uppercase;
  }
}
