.keyboard {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  .keyboard-row {
    display: flex;
    margin-bottom: 5px;
  }
  .key-button {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40px;
    margin: 0 3px;
    padding: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: var(--key-text-color);
    background-color: var(--key-bg);
  }

  .transition {
    transition: all 0.15s ease-in-out;
  }

  .head {
    width: 100%;
    padding: 3px;
    text-align: left;
    box-sizing: border-box;
    align-self: flex-start;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
  }

  .empty-yun .head {
    flex-grow: 1;
    border-radius: 4px;
  }

  .tail {
    opacity: 0.8;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0;
    flex-grow: 1;
    font-size: 14px;
    border-top: 1px solid var(--color-tone-7);
    border-radius: 0 0 4px 4px;
  }
  &.sheng .key-button {
    .head {
      opacity: 0.2;
    }
    .tail {
      opacity: 1;
    }
    &.empty-yun .head {
      opacity: 1;
    }
  }

  .key-half {
    flex-basis: 20px;
  }
  .one-and-a-half {
    flex-basis: 60px;
  }
  .func {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .uppercase {
    text-transform: uppercase;
  }
}
